<!-- <div style="text-align: center;">
  <br>
  <h2 [style.color]="hasError ? 'red' :'green'">Style Binding 1</h2>
  <br>
  <h2 [style.color]="highlightColor">Style Binding 2</h2>
  <br>
  <h2 [style]="titleStyle">Style Binding 3</h2>
</div> -->
<br>
<div class="container">
  <div class="jumbotron">
    <h1>Welcome</h1>
    <h2>Angular & Bootstrap Demo</h2>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading">Status</div>
    <div class="panel-body">
      <h3>{{title}}</h3>
    </div>
  </div>
</div>