<div class="container">
    <!-- <div class="row">
        <div class="col-md-12">
            <button (click)="onLoginClick()">LogIn</button>
            <button (click)="onLogOutClick()">LogOut</button>
        </div>
    </div> -->
    <div style="text-align: center;">
        <h3>Angular Basic</h3>
    </div>
    <div class="row my-3">
        <div class="col-md-3">
            <app-navigation></app-navigation>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <div *ngIf="userAdded">User Added Button Clicked</div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>